In [109]:
%matplotlib inline
from citipy import citipy
import json
import requests
from config import apikey
import pandas as pd
import matplotlib.pyplot as plt

In [110]:
#citypy documentation for ref
city = citipy.nearest_city(-161.27553690072585, -25.120298028273737)
city.city_name

'ushuaia'

In [111]:
#Setting up a random counter of cordinates 
from random import uniform
x, y = uniform(-180,180), uniform(-90, 90)
x, y

(-14.906853533643783, -12.923158422402878)

In [113]:
#Loop gathering list of apx 500 cities 
list_cities = []
for z in range (0, 2500):
    x, y = uniform(-180,180), uniform(-90, 90)
    city = citipy.nearest_city(x, y)
    if city.city_name not in list_cities:
        list_cities.append(city.city_name)
        city = 0
else:
    city = 0
#print(list_cities)

In [114]:
#converting to data frame, and checking for duplicates
cities = pd.DataFrame({"Cities": list_cities})
#cities.Cities.duplicated()
cities

               Cities
0         barentsburg
1              dikson
2        punta arenas
3            coquimbo
4       belushya guba
5      port elizabeth
6            kayerkan
7          bredasdorp
8             ushuaia
9             qaanaaq
10        pedro velho
11        port alfred
12               chuy
13            horasan
14             taltal
15           hermanus
16          jamestown
17       longyearbyen
18             albany
19      venado tuerto
20          busselton
21          taolanaro
22      mar del plata
23            camacha
24           paracuru
25     saint-philippe
26          cape town
27          ibotirama
28          upernavik
29              adrar
..                ...
510  puerto leguizamo
511            igarka
512            urdoma
513             araxa
514            kharan
515          ouargaye
516            picota
517            sorvag
518           pitimbu
519        letlhakeng
520          ilinskiy
521            nyimba
522           aksarka
523          benghazi
524            alamor
525        oranjestad
526        santa cruz
527               leh
528             nioro
529          olafsvik
530       port-gentil
531        banda aceh
532  russkaya polyana
533           senekal
534            zatoka
535            marica
536          kologriv
537       zyryanskoye
538        viransehir
539      lakshettipet

[540 rows x 1 columns]