In [2]:
%matplotlib inline
from citipy import citipy
import json
import requests
from config import apikey
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#citypy documentation for ref
city = citipy.nearest_city(-161.27553690072585, -25.120298028273737)
city.city_name

'ushuaia'

In [4]:
#Setting up a random counter of cordinates 
from random import uniform
x, y = uniform(-180,180), uniform(-90, 90)
x, y

(-140.05428465959292, -10.708252573019564)

In [10]:
#Loop gathering list of apx 500 cities 
list_cities = []
while len(list_cities) <= 510:
    x, y = uniform(-180,180), uniform(-90, 90)
    city = citipy.nearest_city(x, y)
    if city.city_name not in list_cities:
        list_cities.append(city.city_name)
        city = 0
else:
    city = 0
#print(list_cities)

In [11]:
#converting to data frame, and checking for duplicates
cities = pd.DataFrame({"Cities": list_cities})
#cities.Cities.duplicated()
cities

                       Cities
0                      dikson
1                   iskateley
2                   coihaique
3                      albany
4                kruisfontein
5              great yarmouth
6                      manono
7              saint-philippe
8                  bredasdorp
9                 east london
10           illoqqortoormiut
11                     pinega
12                    ushuaia
13                     arklow
14                  san ramon
15               saint-joseph
16             port elizabeth
17                barentsburg
18   channel-port aux basques
19                   mandiana
20                    qaanaaq
21              belushya guba
22                    salalah
23               lakki marwat
24                      suzun
25                port alfred
26                  inhambane
27                  vredendal
28             ribeira grande
29                      coxim
..                        ...
481                    elbrus
482               guatemalita
483                   folldal
484               terra santa
485                 ostersund
486                 allahganj
487               antofagasta
488                     evans
489                     tabas
490                     tabou
491                  tingrela
492        puerto del rosario
493               bandarbeyla
494                    megion
495              saint-jerome
496                     jumla
497                  tucupita
498                     masty
499                 badarganj
500                     mecca
501                  bulawayo
502                 killybegs
503                   ajaccio
504        havre-saint-pierre
505                     dahuk
506                    nicoya
507                  necochea
508           bandar-e lengeh
509                    yzeure
510                kara-tyube

[511 rows x 1 columns]