In [1]:
%matplotlib inline
import pandas as pd
from config import gkey
import json
import csv
import requests
import gmaps
import numpy as np
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
csv_loc = ('../script1/MapData.csv')
new_csv = pd.read_csv(csv_loc)
new_csv = new_csv.drop('Unnamed: 0', 1)
new_csv

,City Name,Tempurature,Latitude,Longitude,Wind Spd,Humidity %,Cloud %
0,Ushuaia,43.57,-54.80,-68.30,41.38,93,90
1,Narsaq,10.40,60.92,-46.05,9.55,51,62
2,Dikson,-8.95,73.51,80.55,12.17,100,100
3,Longyearbyen,-7.60,78.22,15.64,2.24,83,20
4,Qaanaaq,-13.72,77.48,-69.36,4.76,46,0
...,...,...,...,...,...,...,...
522,Jose Bonifacio,93.20,-21.05,-49.69,6.93,34,20
523,Rio Gallegos,55.40,-51.62,-69.22,39.15,32,75
524,Pasni,52.20,25.26,63.47,27.29,40,0
525,Dakar,71.47,14.69,-17.44,6.93,73,100
526,Esim,79.57,4.87,-2.24,4.43,81,0

In [3]:
gmaps.configure(api_key=gkey)
locations = new_csv[['Latitude', 'Longitude']].astype(float)
humidity = new_csv["Humidity %"].astype(float)
hummax = humidity.max()
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=hummax,
                                 point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
new_csv = new_csv.loc[new_csv["Tempurature"] >= 70, :]
new_csv = new_csv.loc[new_csv["Tempurature"] <= 80, :]
new_csv = new_csv.loc[new_csv["Wind Spd"] <= 10, :]
new_csv = new_csv.loc[new_csv["Cloud %"] <= 0, :]
new_csv = new_csv.loc[new_csv["Humidity %"] <= 50, :]
new_csv

,City Name,Tempurature,Latitude,Longitude,Wind Spd,Humidity %,Cloud %
78,Daoukro,77.50,7.06,-3.96,0.69,28,0
113,Springbok,79.07,-29.66,17.89,7.56,38,0
174,Kibala,73.40,9.11,18.35,4.18,49,0
196,Lola,74.07,7.80,-8.53,2.51,31,0
219,Bondo,73.11,3.81,23.69,1.32,35,0
253,Moyale,75.42,3.52,39.06,9.28,44,0
320,Neuquen,77.00,-38.95,-68.06,9.17,14,0
331,Rafai,74.77,4.95,23.92,0.81,32,0
334,Isiro,72.99,2.77,27.62,1.90,41,0
344,Tambura,73.83,5.60,27.47,1.86,26,0
429,Kafanchan,70.25,9.58,8.30,7.14,23,0
448,Koundara,79.50,12.48,-13.30,7.70,12,0
450,Hukuntsi,79.21,-24.00,21.75,8.10,35,0
476,Obo,74.95,5.40,26.49,4.23,25,0
490,Kontagora,79.93,10.40,5.47,9.69,19,0
504,Goundi,76.69,9.36,17.37,4.50,17,0
512,Filingue,74.37,14.35,3.32,7.92,19,0
513,Meiganga,70.43,6.52,14.30,6.71,18,0